body {
    background-image: url("http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png");
    background-size: cover;
}

p {
    font-family: "Times New Roman", times, Serif;
    font-size:large;
}

.tabs {
    	width:100%;
    	text-align: center;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;	
}

.tab-links {
    display: inline-block;
}

.tab-links li {
    display: inline-block;
    margin:0px 5px;
}

.tab-links a {
    padding:9px 15px;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

.tab-content {
    padding:105px;
    border-radius:15px;
    box-shadow:-1px 1px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
    background:rgba(255,255,255,0.75);
    margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 10px;
	margin-left: 100px;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

.menu {
    background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

.menu ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-menu i {
    margin-right: 5px;
}

#menu {
    width: 300px;
    left: -300px;
    position: fixed;

    background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png');
    height: 100%;
}

#menu li {
    color: lightgray;
    background-color: rgba(250, 250, 250, 0.3);
    padding: 2px 2px 2px 2px;
    margin: 5px 0px 5px 0px;
    list-style: none; // removes bullets
    border-bottom: 1px solid #636366;
}

#menu-tab {
    float: left;
    border: 2px solid;
    border-radius: 25px;
    background-color: lightgray;
}
